a{
    text-decoration: none;
}

a:link { 
    color: red; 
    text-decoration: none;
}

a:visited { 
    color: black; 
    text-decoration: none;
}

a:hover { 
    color: blue; 
    text-decoration: underline;
}

.profile_img{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    margin-right: 10px;
}

.profile_img img{
    width: 100%;
    height: 100%;
}

.icon-find{
    display: inline-block;
    background: url('../imgs/spr_icons_2x.png') no-repeat -1310px -596px;
	width: 25px;
	height: 25px;
}

.icon-plus{
    display: inline-block;
    background: url('../imgs/spr_icons_2x.png') no-repeat -1194px -246px;
	width: 46px;
	height: 42px;
}

.icon-setting{
    display: inline-block;
    background: url('../imgs/spr_icons_2x.png') no-repeat -1310px -706px;
	width: 24px;
	height: 26px
}

.icon-picture{
    display: inline-block;
    background: url('../imgs/spr_icons_f_2x.png') no-repeat -554px -496px;
	width: 32px;
	height: 32px;
}

.icon-more{
    display: inline-block;
    background: url('../imgs/spr_icons_2x.png') no-repeat 96.847% 14.93%;
	width: 6px;
	height: 30px;
}

.icon-like{
    display: inline-block;
    background: url('../imgs/spr_icons_2x.png') no-repeat 46.585% 85.925%;
	width: 35px;
	height: 30px;
}

.icon-comment{
    display: inline-block;
    background: url('../imgs/spr_icons_2x.png') no-repeat -1280px -1158px;
	width: 24px;
	height: 21px;
}


body{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #e9ebee;
    color: #1d2129;
}

#header{
    width: 100vw;
    background-color: rgba(0,0,0,.06);
    border: 1px solid rgba(0,0,0,.03);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

#header .inner{
    width: 1020px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .inner .left{
    display: flex;
    align-items: center;
}

#header .inner .left .search_container{
    width: 380px;
    height: 23px;
    background: #fff;
    position: relative;
    margin-left: 20px;
}

#header .inner .left button{
    position: absolute;
    right: -29px;
    padding: 4px 10px;
    top: 63%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
}

#search{
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 5px 10px;
}
#wrapper{
    width: 1012px;
    margin: 0 auto;
    padding-right: 205px;
    position: relative;
    top: 70px;
}

#wrapper .inner{
    width: 100%;
    position: relative;
}

#wrapper .inner .left_box{
    width: 180px;
    height: 500px;
    position: fixed;
    top: 80px;
    left: 100px;
    font-size: 13px;
}

#group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#group .group_img{
    border: 1px solid #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
}
#group .group_img img{
    width: 100px;
    height: 100px;
}

#wrapper .left_box .member_setting{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #bebebe;
}

#wrapper .left_box .member_setting .invitation{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}

#wrapper .left_box .group_setting{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

#wrapper .left_box .group_setting .icon-setting{
    margin-right: 10px;
}

#contents_container{
    max-width: 500px;
    position: relative;
    left: 190px;
}

#wrapper .create_box{
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.create_box .title{
    color: #4b4f56;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 8px 5px;
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
    margin: 0;
}

.create_box .text_field{
    padding: 8px;
}

.create_box .text_field .top{
    display: flex;
    align-items: center;
    color: #90949c;
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddfe2;
}

.create_box .text_field .top .profile_img{
    margin-right: 20px;
}

.create_box .top > p{
    width: 100%;
}

.create_box #text_field{
    border: none;
    height: 24px;
    width: 90%;
    resize: none;
    font-size: 15px;
}

.create_box .text_field .middle{

}

.create_box .text_field .bottom{
    font-size: 12px;
    color: #4b4f56;
    font-weight: bold;
}

.create_box .text_field .bottom .import-btn{
    border-radius: 30px;
    padding: 5px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

.create_box .text_field .bottom .import-btn:hover{
    background: #e3e3e3;
}

.create_box .text_field .bottom .import-btn .picture{
    position: relative;
    top: -11px;
}

#id_photo{
    display: none;
}

.create_box .submit{
    border-top: 1px solid #dddfe2;
    text-align: center;
    padding: 5px 10px;
    display: none;
}

.create_box .submit input{
    width: 100%;
    height: 28px;
    border-radius: 3px;
    background: #4267b2;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.create_box .submit input:disabled{
    background: #9cb4d8;
}

#wrapper .contents{
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
}

.contents header{
    position: relative;
    padding: 10px 20px;
}

.contents .profile_container{
    display: flex;
    align-items: center;
}

.contents .profile_container .name{
    font-size: 14px;
    margin-bottom: 5px;
}

.contents .profile_container .time{
    font-size: 12px;
    color: #616770;
}

.contents .profile_container .profile_img{
    width: 40px;
    height: 40px;
}

.contents .more{
    margin-left: auto;
    cursor: pointer;
    padding: 10px 0;
    position: relative;
}

.contents .more.active .hidden_menu{
    display: block;
}

.contents .hidden_menu{
    position: absolute;
    right: -37px;
    top: 30px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid #dddfe2;
    padding: 0;
    display: none;
}

.contents .hidden_menu > li{
    padding: 5px 10px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid rgba(221,223,226,0.57);
    list-style: none;
}

.contents .hidden_menu >li:hover{
    background: #ddd;
}

.contents .hidden_menu > li > *{
    background: transparent;
    border: none;
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

.contents .hidden_menu > li > a{
    text-decoration: none;
    color: black;
}

.contents .main_article{
    padding: 5px 20px;
    font-size: 14px;
    line-height: 1.38;
    font-weight: normal;
}

.contents .img_section{
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #dddfe2;
}

.contents .img_section .img{
    width: 100%;
}

.contents .ajax_field{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.contents .btn_container{
    display: flex;
    height: 42px;
    border-top: 1px solid #dddfe2;
    border-bottom: 1px solid #dddfe2;
    margin: 0 10px;
}

.contents .btn_container > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents .btn_container > div:hover{
    background: #dddfe2;
}

.contents .comment_container{
    padding: 10px 20px;
    color:  #385898;
}

.contents .comment_container .id{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.contents .comment_container .text_container{
    display: flex;
    padding: 10px;
    background: #dddfe2;
    border-radius: 30px;
}

.contents .comment_container .name{
    margin-right: 5px;
}

.contents .comment_container .text_field{
    font-weight: 300;
}

.contents .comment_input{
    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.contents .comment_input .input_container{
    width: 100%;
    padding : 7px 0;
    border: 1px solid #ccd0d5;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

.contents .comment_input .input_container input{
    width: 90%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
}

.contents .comment_input .input_container button{
    background: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
















